.App {
  height: 100%;
  overflow: visible;
}

.node {
  border: 2px solid black;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  position: static !important;
}

.node div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}